<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eju.cy.drawlibrary">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity android:name=".activity.DrawRoomActivity"></activity>
        <activity
            android:name=".activity.EnumPortActivity"
            android:launchMode="singleTask" />

        <service
            android:name=".bluetooth.ACSUtilityService"
            android:enabled="true" />
    </application>

</manifest>